/*:root{
        --heading-background-color: #f06:display:
        --padding: 1rem;
No colors or properties repeat, I am going to comment out the :root declaration
This was added or supopsed to be udpated in week03 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* updated week2 */
nav {
    background-color: darkblue;
    padding: 10px;
}
/* updated week2 */
nav a {
    color: white;
    display: block;
    padding: 20px;
}
/* updated week2 */
h1 {
    color: darkblue;
}
/* updated week2 */
img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
/* updated week2 */
p {
    padding: 0;
}
main {
    /* updated week2 */
    max-width: 840px;
}
main img{
    /* updated week2 */
    width: 150px;
    height: auto;
}
aside {
    /* updated week2, updated using video instruction */
    width: 20em;
    margin: 1em;
    border: 1px solid rgba(0, 0, 0 / 0.2); /* 1️⃣ */
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
}
aside img {
    /* updated week2 */
    width: 200px;
    height: auto;
}
aside h2 {
    /*added week3 */
    position: absolute;
    top: 10px;
    left: 135px;
}
footer {
    /* updated week2, using class notes */
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / .1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

/* Last date updated: 20 may 2025 */